  <h2 class="sub-header">Liste des projets</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id du projet</th>
          <th>Nom</th>
          <th>Budget</th>
          <th>description</th>
          <th>categorie</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let proj of projets">
            <td>{{proj.id}}</td>
            <td  routerLink="/faireDon/{{proj.id}}" class="btn btn-success">{{proj.nom}}</td>
            <td>{{proj.budget}}</td>
            <td>{{proj.description}}</td>
            <td>{{proj.categorie.type_de_don}}</td>
          </tr>
      </tbody>
    </table>
  </div>
<button routerLink="/new-projet" class="btn btn-primary">New projet</button>